$white-color: #fdfdfd;
$grey-color: #eeeeee;
$darker-grey-color: rgba(115, 119, 123, 0.199);
$dark-grey-color: rgba(43, 43, 43, 0.5);
$blue-color: rgba(50, 177, 241, 0.5);

$primary-font: 'Times New Roman', Times, serif;